    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
}

footer{
    color: white;
    bottom: 0;
    background-color: black;
    padding: 5px;
    border-top: 1px solid rgba(0,0,0, .3);
}

footer p{
    text-align: center;
}

html, body{
    margin: 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

button{
    padding: 10px;
    font-size: inherit;
    border: none;
    border-radius: 5px;
    background-color: white;
    transition: .3s transform;
    color: black;
    width: 90%;
    margin: 10px;
    font-weight: bold;
}

button:hover{
    transform: scale(1.05);
}

.greenButton{
    background-color: #03C303;
    font-weight: bold;
    color: white;
}