@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
}

footer{
    bottom: 0;
    background-color: white;
    text-align: center;
    padding: 5px;
    border-top: 1px solid rgba(0,0,0, .3);
}

html, body{
    margin: 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}


button{
    transition: .3s transform;
}

button:hover{
    transform: scale(1.05);
}