body{
    background-color: black;
}

#scrollArrow{
    position: fixed;
    bottom: 0;
    width: 10vh;
    margin-left: -4vh;
    left: 50%;
}

#burgerMenu{
    width: 45px;
    height: 40px;
    margin: 0;
    padding: 2px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#burgerMenu div{
    width: 80%;
    height: 12%;
    background-color: white;
    margin: 0;
    padding: 0;
    border: 2px solid white;
    border-radius: 2px;
}

#menu{
    color: white;
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    transition: .4s all ease;
    transform: translateY(-100%);
}

#menu img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

#menu div{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#menu a{
    display: block;
    text-decoration: none;
    padding: 20px 10px;
    color: inherit;
    font-size: 20px;
}

section:nth-of-type(1), section:nth-of-type(3), section:nth-of-type(5){
    background-repeat: no-repeat;
    background-position: center center;
    /*background-attachment: fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section:nth-of-type(1)
{
    background-image: url("../assets/bilel.png");
}

section:nth-of-type(3)
{
    background-image: url("../assets/bibinoir.png");
}

section:nth-of-type(5)
{
    background-image: url("../assets/nutrition.jpeg");
}

section:nth-of-type(3){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section:nth-of-type(5){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 74px);
}

section ul{
    padding: 20px 0 20px 40px;
    border-radius: 10px;
    /*background-color: rgba(0,0,0,.5);*/
    text-align: left;
}

section li{
    margin: 8px;
    list-style-image: url("../assets/done.svg");
}



.container{
    width: 100%;
    padding: 20px;
    text-align: center;
}

.textContainer{
    color: white;
    background-color: black;
    padding: 30px 0;
}

.textContainer p{
    padding: 0 20px;
    font-size: 17px;
}


.imgBackground{
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 10vh;
}

.imgBackground h2{
    font-size: 40px;
}
.imgBackground h2, .imgBackground p{
    text-shadow: 4px 4px 4px rgba(0, 0, 0, .6);
}

section h1{
    font-size: 25px;
    margin: 0;
}

section div{
    margin: 20px 0;
    padding-bottom: 50px;
}

.imgBackground button{
    font-size: inherit;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px;
    color: inherit;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}

section a{
    display: block;
    color: inherit;
    text-decoration: underline;
    padding: 20px 0;
    transition: transform .3s;
}
section a:hover{
    transform: scale(1.05);
}

#mobileHeader{
    width: 100%;
    margin: 0;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0,0,0);
    align-items: center;
    position: fixed;
    top: 0;
    height: 80px;
}

#mobileHeader h2{
    margin: 0;
    font-size: 24px;
}

#mobileHeader img{
    width: 40px;
}

@media screen and (min-width: 1000px){
    #burgerMenu{
        display: none;
    }
    #menu{
        transform: translateY(0%);
        background-color: black;
    }
    header nav{
        margin: auto;
        width: min(100%, 1000px);
        display: flex;
        justify-content: space-between;
    }
    img[alt="close"]{
        display: none;
    }
    #menu a{
        transition: transform .3s;
    }
    #menu a:hover{
        transform: scale(1.05);
    }
    section h1{
        font-size: 50px;
        margin: 30px;
    }
}