header{
    z-index: 1000;
    padding: 20px;
    color: white;
    background-color: rgb(0, 0, 0, 1);
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 4px rgba(0,0,0,.4);
}

h3{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body{
    background-color: rgb(240, 240, 240);
}

.pageContainer{
    margin: 0 auto;
    max-width: 1000px;
    min-height: calc(100vh - 74px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px 20px 20px;
    text-align: center;
    background-color: #EEE;
}

.pageTextContainer{
    min-height: calc(100vh - 74px);
    margin: 0 auto;
    max-width: 1000px;
    padding: 80px 20px 20px;
    background-color: inherit;
    text-align: center;
}

.pageTextContainer p{
    text-align: justify;
}

.pageContainer a{
    display: block;
    margin: 8px;
    padding: 20px;
    /*border: 2px solid black;*/
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 1px 2px 2px rgba(0,0,0, .3);
    background: white;
}

button{
    padding: 10px;
    font-size: inherit;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(0,0,0, 0);
    transition: .3s all;
    color: black;
}

img[alt='back']{
    transition: all .3s;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 100%;
}

img[alt='back']:hover{
    border-color: white;
}

img[alt="logo"]{
     transition: all .3s;
}

img[alt="logo"]:hover{
    transform: scale(1.1);
}

a{
    color: inherit;
}

iframe{
    width: 85vw;
    height: 40vw;
}

section ul{
    padding: 0 40px;
}

section li{
    padding: 10px 0;
    text-align: left;
}

section h4{
    text-align: left;
}

.borderBottom{
    border-bottom: 1px solid black;
}

.borderTop{
    border-top: 1px solid black;
}

section button{
    margin: 20px;
}

input{
    border: 2px solid black;
    border-radius: 8px;
    font-size: inherit;
    padding: 5px;
}

.question{
    display: none;
}

#intro{
    display: block;
}

#paypalContainer{
    width: min(80vw, 800px);
}

input[type='checkbox']{
    transform: scale(1.5);
}

#checkoutPage{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pdfReader{
    margin-top: 50px;
    width: 100%;
    height: 80vh;
}